<?xml version="1.0" encoding="UTF-8"?>

<suite name="SeleniumSuite" parallel="false">

	<listeners>
		<listener class-name="utils.SuiteListener" />
	</listeners>
	
	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="qa.tests.Testcase1"></class>
		</classes>
	</test>
</suite>

